*

!.gitignore

!*/
!/app/AppKernel.php
!/app/config/config.yml
!/app/config/parameters.yml
!/app/config/security.yml
!/app/Resources/views/base.html.twig

!/src/Marton/PortfolioBundle/Test/*
!/src/Marton/PortfolioBundle/Services/*
!/src/Marton/PortfolioBundle/Controller/*
!/src/Marton/PortfolioBundle/Entity/*
!/src/Marton/PortfolioBundle/Form/Model/*
!/src/Marton/PortfolioBundle/Form/Type/*
!/src/Marton/PortfolioBundle/Repository/*
!/src/Marton/PortfolioBundle/Tests/Controller/*
!/src/Marton/PortfolioBundle/Tests/Classes/*
!/src/Marton/PortfolioBundle/Tests/Entity/*
!/src/Marton/PortfolioBundle/Tests/Form/Type/*
!/src/Marton/PortfolioBundle/Resources/config/routing.yml
!/src/Marton/PortfolioBundle/Resources/views/Default/*
!/src/Marton/PortfolioBundle/Resources/views/Default/Pages/*
!/src/Marton/PortfolioBundle/Resources/views/Default/Pages/Subpages/*

!/web/bundles/martonportfolio/css/*
!/web/bundles/martonportfolio/js/marton.js
!/web/app.php
!/web/app_dev.php
