/*
*  Author: Márton Széles
*  Copyright 2014
*/


body{
    margin: 0px;
}
body.theme_bright{
    background: white;
}

body.theme_dark{
    background: rgb(31, 31, 31);
}

* {
    margin: 0;
    padding: 0;
}

/* Background Gallery */

.c-container{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.c-move{
    width: 30px;
    height: 30px;
    padding: 5px 5px 5px 5px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.c-left{
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 100;
}

.c-right{
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 100;
}

.c-arrow{
    cursor: pointer;
    height: 30px;
    width: 30px;
    opacity:0.7;
}

.c-arrow:hover{
    opacity:1;
}

.c-left .c-arrow{
    background: url(../images/src/control_left.png) center center no-repeat;
}

.c-right .c-arrow{
    background: url(../images/src/control_right.png) center center no-repeat;
}

.c-exit{
    width: 20px;
    height: 20px;
    padding: 5px 5px 5px 5px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-image: url(../images/src/control_exit.png);
    background-position: center center;
    background-repeat: no-repeat ;
    cursor:pointer;
    opacity:0.7;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

.c-exit:hover{
    opacity:1;
}

.background-container{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.background-pic{
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: block;
    background:transparent;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#background-pic-01{
    display: none;
    z-index:101;
}

#background-pic-02{
    z-index:100;
}

.blur{
    opacity:0.8;
}

/* Loading Circle */
#image-loading-container{
    display: none;
    margin-left: -130px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background: url(../images/src/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}

#image-progress-p{
    line-height: 50px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    color: rgb(160, 160, 160);
}

.loading_container{
    position: fixed;
    z-index: -1;
    width: 108px;
    height: 100px;
    margin-left:-108px;
    margin-top:-100px;
    top: 50%;
    left: 50%;
    background:url(../images/src/loading.gif);
}

.progress_p{
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    color: grey;
}

a{
    color:#333;
    text-decoration: none;
}

a:visited{
    color:#333;
    text-decoration: none;
}

p{
    font-family: sans-serif;
}

h1{
    font-size: 18px;
    text-align: left;
    color: rgb(109, 109, 109);
    margin-bottom:30px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(230, 230, 230);
    margin-left:20px;
    margin-right:20px;
}

.logo{
    text-align: center;
    line-height:50px;
    height:50px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
}

.logo a{
    color: white !important;
}

.menu{
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
}

.dashboard{
    background: grey;
    min-height: 70px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background: url(../images/src/dashboard.png) repeat-x;
    overflow-x: hidden;
    /*border-top: 1px solid rgb(207, 207, 207);
    border-bottom: 1px solid rgb(207, 207, 207);*/
    color: #333;
    text-shadow: 0px 0px 1px rgb(216, 216, 216);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dashboard ul{
    margin: 0px auto 0px auto;
    width:1024px;
}
.dashboard ul:after{
    content: "";
    position: absolute;
    display: block;
    z-index: 1;
    width: 1px;
    height: 70px;
    background-color: rgb(207, 207, 207);
    margin: 0 0 0 1023px;
}

.dashboard ul li{
    display: inline-block;
    list-style: none;
    width:25%;
    float: left;
    margin: 0px;
    padding: 0px;
}
.dashboard ul li .dashboard_tabs:before{
    content: "";
    position: absolute;
    display: block;
    z-index: 1;
    width: 1px;
    height: 70px;
    background: rgb(207, 207, 207);
}

.dashboard ul li .dashboard_tabs{
    line-height: 70px;
    font-size: 22px;
    min-height: 70px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    text-align: center;
    width: auto;
    color:#444;
    transition: color .25s ease;
}
.dashboard ul li .dashboard_tabs:hover{
    background: url(../images/src/dashboard_active.png) repeat-x;
    color:white !important;
}
.dashboard ul li .dashboard_tabs:hover:before{
    background: none;
}


.dashboard ul li .active{
    background: url(../images/src/dashboard_active.png) repeat-x;
    color:white !important;
}

.dashboard ul li .active:before{
    background: none;
}

.dash_line{
    height: 8px;
    background: rgb(60, 60, 60);
}

.sub_dashboard{
    height: 20px;
    padding: 5px;
    line-height: 20px;
    background: -moz-linear-gradient(top,  rgba(235,235,235,1) 0%, rgba(224,224,224,0.97) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,235,235,1)), color-stop(100%,rgba(224,224,224,0.97))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(235,235,235,1) 0%,rgba(224,224,224,0.97) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(235,235,235,1) 0%,rgba(224,224,224,0.97) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(235,235,235,1) 0%,rgba(224,224,224,0.97) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(235,235,235,1) 0%,rgba(224,224,224,0.97) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#f7e0e0e0',GradientType=0 ); /* IE6-9 */

    border-bottom: solid 1px rgb(206, 206, 206);
    text-align: center;
}
.sub_dashboard_options{
    width: 1024px;
    margin: auto;
}

.sub_dashboard_back{
    float: left;
    display: inline-block;
    width: 8%;
    background: url(../images/src/dashboard_back.png) no-repeat;
    opacity: 0.8;
}
.sub_dashboard_back:hover{
    opacity: 1;
}

.sub_dashboard_title{
    display: inline-block;
    padding-right: 8%;
    font-weight: bold;
}

.content{
    position: relative;
    z-index: 0;
    margin: auto;
    width:1024px;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    padding-top:20px;
    padding-bottom:20px;
}

.shadow{
    box-shadow: 0px 2px 12px rgba(14, 14, 14, 0.5);
}

.copyright{
    font-size:11px;
    color:rgba(70, 70, 70, 0.6);
    margin:10px auto;
    padding-right:10px;
    text-align: right;
    width:1024px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Biography*/
.bio{
    background:white;
    margin-top:-20px;
    padding-top:20px;
    margin-bottom:-20px;
    padding-bottom: 20px;
}
.bio_projects{
    width: 38%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-top: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.project_entry{
    box-shadow: rgb(167, 167, 167) 1px 2px 5px;
    overflow: hidden;
    width: 370px;
    margin:7px auto 7px auto;
}
.project_entry_closed{
    height: 50px;
}

.project_header{
    cursor:pointer;
    opacity: 0.8;
    transition: opacity .25s ease;
    height:100px;
    padding-left: 10px;

}
.project_header:hover{
    opacity: 1;
}

.project_header_open{
    opacity: 1;
}

.p_title{
    text-shadow: 1px 1px 8px rgb(255, 255, 255);
}

.p_subheader{
    padding-left: 10px;
}

.project-info{
    margin-top: 10px;
}

.a-project-info{
    height:20px;
    display:block;
    margin-top:5px;
    opacity: 0.8;
    transition: 0.15s all ease-out;
}

.a-project-info:hover{
    font-weight: bold;
    opacity: 1;
}

.a-project-info p{
    line-height:20px;
    display:inline-block;
    vertical-align: top;
}

.p_text{
    text-align: justify;
    padding: 10px 10px 10px 10px;
    margin: 10px 15px 15px 10px;
    font-size: 14px;
    background: rgba(197, 197, 197, 0.32);
    color: rgb(36, 36, 36);
    border: 1px solid silver;
}

.bio_about{
    width: 52%;
    display: inline-block;
    text-align:left;
    font-size: 14px;
    margin-top: 15px;
}

.about_title{
    margin-left:25px;
}
.about_short{
    display: inline-block;
    vertical-align: top;
    width: 55%;
    text-align: left;
    padding-top: 3px;
    padding-left:25px;
    border-left: solid 1px rgb(230, 230, 230);
    border-bottom: solid 1px rgb(230, 230, 230);
}

.about_long{
    padding-top: 15px;
    padding-left: 25px;
    margin-top: 10px;
    text-align: justify;
    border-top: solid 1px rgb(230, 230, 230);
    border-left: solid 1px rgb(230, 230, 230);
}

.about_row{
    margin-bottom: 10px;
}

.about_row .row_title{
    display: inline-block;
    width: 30%;
}

.about_row .row_value{
    display: inline-block;
    width: 60%;
}

.bio_about_pic{
    float:right;
    display: inline-block;
    width: 200px;
    height: 133px;
    background: url(../images/src/profile.jpg) no-repeat;
}

/*Photography*/
.photo_div{
    text-align: left;
    margin-left: 7px;
    background:rgb(31, 31, 31);
}
.quote_frame{
    width:334px;
    height: 223px;
    font-size: 20px;
    color:grey;
    display: inline-block;
}
.quote{
    display: table-cell;
    vertical-align: middle;
    height: 223px;
    padding: 0px 10px 0px 10px;
}
.album_frame a{
    color:white;
    text-decoration: none;
}
.album_frame a:visited{
    color:white;
    text-decoration: none;
}
.album_frame{
    position:relative;
    width:334px;
    height: 223px;
    display: inline-block;
    background-color: black;
    margin: 0px 0px 4px 0px;
    vertical-align: top;
    cursor:pointer;
}
.album_image{
    border:none;
    opacity:0.9;
    -moz-transition: opacity .25s ease;
    -webkit-transition: opacity .25s ease;
    -ms-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    transition: opacity .25s ease;
    box-shadow: 0px 0px 5px black;
}
.album_title_background{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:30px;
    background-color:black;
    opacity:0.5;
    -moz-transition: opacity .25s ease;
    -webkit-transition: opacity .25s ease;
    -ms-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    transition: opacity .25s ease;
}
.album_title_text{
    margin-top:5px;
    margin-left: 5px;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    opacity:0.8;
    -moz-transition: opacity .25s ease;
    -webkit-transition: opacity .25s ease;
    -ms-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    transition: opacity .25s ease;
}
.album_frame:hover .album_title_background{
    opacity:0.7;
}
.album_frame:hover .album_title_text{
    opacity:1;
}
.album_frame:hover .album_image{
    opacity:1;
}

.photo_frame{
    position:relative;
    width:334px;
    height: 223px;
    display: inline-block;
    background-color: black;
    margin: 0px 0px 4px 0px;
    vertical-align: top;
    cursor:pointer;
}
.photo_image{
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center;
    transition: box-shadow .10s ease;
}
.photo_image:hover{
    box-shadow: inset 0px 0px 7px black;
}

/*Drawing*/
.drawing_div{
    text-align: left;
    margin-left: 7px;
    background: rgb(31, 31, 31);
}

.drawing_frame{
    display:inline-block;
    width:500px;
    border-bottom: solid 1px rgb(71, 71, 71);
    margin-top:20px;
    padding-bottom: 5px;
    opacity:0.85;
    transition: opacity .10s ease;
}
.drawing_frame:hover{
    opacity:1;
}

.drawing_title{
    border-bottom: solid 1px rgb(71, 71, 71);
    line-height: 28px;
    margin-bottom:10px;
}

.drawing_frame h3{
    color: white;
    display: inline-block;
    cursor:pointer;
}

.drawing_frame p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin-right:20px;
    float:right;
    display:inline-block;
}

.drawing_frame img{
    width:500px;
    height:333px;
    cursor:pointer;
}

/*Contact*/
.right{
    text-align: right;
}

.left{
    text-align: left;
}
.contact{
    background:white;
    margin-top:-5px;
    padding-top:5px;
    margin-bottom:-20px;
    padding-bottom: 20px;
    width:50%;
    display: inline-block;
}

.contact_header{
    text-align: left;
    margin-top: 20px;
}

.contact_tile{
    margin: auto 25px auto 25px;
}

.contact_info{
    padding: 10px;
}

.contact_info div{
    padding: 5px;
    border: solid 1px rgb(231, 231, 231);
    background: rgba(234, 237, 255, 0.7);
    margin-bottom: 10px;
    border-radius: 2px;
    opacity:0.9;
    transition: opacity .10s ease-out;
}

.contact_info div:hover{
    opacity:1;
}

.contact_info p{
    display:inline-block;
}

.contact_info a{
    color:rgb(55, 167, 255);
}

.contact_info .title{
    width:20%;
    font-weight: bold;
    color:grey;
}

.contact_info .value{
    width:60%;
}

.contact_form{
    text-align:right;
}

.contact_form form{
    padding-right: 10px;
}

.contact_form label{
    text-align: left;
    display: inline-block;
    width: 30%;
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    margin-bottom: 10px;
    vertical-align: top;
}

.contact_form input{
    width: 68%;
    height: 24px;
    border-radius: 2px;
    margin-bottom: 10px;
    background: rgba(195, 198, 255, 0.39);
    border: solid 1px rgb(184, 184, 184);
}

.contact_form textarea{
    width: 68%;
    height: 100px;
    border-radius: 2px;
    margin-bottom: 10px;
    background: rgba(195, 198, 255, 0.39);
    border: solid 1px rgb(184, 184, 184);
}

.contact_form button{
    border: 1px solid rgb(221, 221, 221);
    border-radius: 2px;
    padding: 4px 15px;
    font-weight: bold;
    background: -webkit-linear-gradient(top,#FFFFFF,#DFDFDF);
    background: -moz-linear-gradient(top, #FFFFFF, #DFDFDF);
    background-image: -ms-linear-gradient(top, #FFFFFF, #DFDFDF);
    background-image: -o-linear-gradient(top, #FFFFFF, #DFDFDF);
    background-image: linear-gradient(to bottom, #FFFFFF, #DFDFDF);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DFDFDF));
    cursor: pointer;
    transition: background 1s ease-out;
}

.contact_form button:hover{
    background: white;
    background: white;
    background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
}

.contact_success{
    padding: 10px;
    background: rgb(218, 255, 203);
    color: rgb(0, 94, 0);
    font-weight: bold;
    border: 1px solid rgba(94, 156, 0, 0.17);
    border-radius: 2px;
    text-align: center;
}

.contact_success p{
    font-weight: normal;
}
